.App {
    background: rgb(10, 21, 40);
    border-radius: 10px;
    height: 1600px;
    width: 100%;
    display: flex;
}

.mainPage {
    position: relative;
    top: 100px;
    color: rgb(72, 163, 173);
    border-style: none;
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    left: 550px;
}

.mainPage:hover {
    color: rgb(123, 140, 186);
}

.contact {
    position: relative;
    top: 100px;
    color: rgb(72, 163, 173);
    margin-right: 10px;
    text-decoration: none;
    left: 570px;
}

.contact:hover {
    color: rgb(123, 140, 186);
}

.blog {
    position: relative;
    top: 100px;
    color: rgb(72, 163, 173);
    margin-right: 10px;
    text-decoration: none;
    left: 590px;
}


.blog:hover {
    color: rgb(123, 140, 186);
}

.login {
    position: relative;
    top: 100px;
    color: rgb(72, 163, 173);
    margin-right: 10px;
    text-decoration: none;
    left: 610px;
}

.login:hover {
    color: rgb(123, 140, 186);
}
